 .li{
     text-align: center;
     list-style-type: none;
     display: inline-block;
     margin: 30px auto;
     width: 15%;
     overflow-x: hidden;
}

 .ul {
     text-align: center;
 }

 .NavBar {
     box-shadow: 10px 10px 10px 1px rgba(0, 1, 1, 0.2);
     position: relative;
     z-index: 10;
 }
