@font-face {
  font-family: 'Montserrat';
}

* {
  font-family: 'Montserrat';
  margin: 0;
  box-sizing: border-box;
}

.text-center{
    text-align: center;
}

/* HEADER */
header {
  background-color: #4B847D;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.header-element {
  margin: 20px;
}

.logo {
  float: left;
  height: 40px;
  margin: 20px 30px;
  border-radius: 50%;
}

.chart,
.profile {
  float: right;
  height: 40px;
  margin: 20px 30px;
  border-radius: 10%;
}

.searchbar {
  float: left;
  width: 200px;
}

/* MENU */

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 30px auto;
  width: 15%;
  overflow-x: hidden;
}


/* PRESENTATION */
.presentation-picture {
  box-shadow: black;
  width: 300px;
}

.presentation p {
  margin-top: 50px;
  font-size: 20px;
}

.banner {
    padding: 25px;

}

.green-bck{
    background-color: #4B847D ;
}

.pink-bck{
    background-color: #f5e0e4 ;
}

.gray-bck{
    background-color: #918e8b;
}

.orange-bck{
    background-color: #DAC2A8;
}

h2 {
    font-size: 30px;
    font-weight: unset;
}

h3 {
    font-family: 'Roboto', sans-serif;
    /* font-size: 30px; */
    font-size: 3.5vw;
    font-weight: unset;
}


.text-banner {
    height: 100px;
    padding: 35px;
}

/* CONTENT */

.product-gallery{
    display: flex;

}

.product-gallery-item{
    flex: 25%;
    padding: 5px;
}

img.product-gallery-item {
    width: 100px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    text-align: center;
}

tr {
    margin: 0px;
}

img.promotion-item{
    width: 100%;
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: #4B847D;
  overflow: auto;
}

footer li {
  list-style-type: none;
  display: inline-block;
  margin: 30px;
  color: #fff;
  text-align: center;
}
